
.gameover_hidden div {
    visibility: hidden;
}
.gameover_visible div {
    visibility: visible;
    height:155px;
    position: absolute;
    top: 170px;
    left: 0;
    width: 284px;
}

.level_hidden {
    visibility: hidden;
}

.level_visible.zoom {
    transform: scale(20);
    transition: all 2s;
}

.level_visible {
    visibility: visible;
    position: absolute;
    top: 240px;
    left: 256px;
}

.gameover_visible div {
    height: 155px;
    width: 284px;
    -webkit-animation: slide 3s ease-in-out infinite;
    -moz-animation: slide 3s ease-in-out infinite;
    animation: slide 3s ease-in-out infinite;
}

@keyframes slide {
    0% {
        left: 220px
    }
    50% {
        left: 20px;
    }
    100% {
        left: 220px
    }
}
@-webkit-keyframes slide {
    0% {
        left: 220px
    }
    50% {
        left: 20px;
    }
    100% {
        left: 220px;
    }
}

@font-face {
   font-family: arcade;
   src: url(fonts/arcade.ttf);
}

p {
   font-family: arcade;
   color: #FF0000;
   font-size: 5px;
}
