.zoom {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: transform .2s; /* Animation */
}

.squeeze {
  transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: transform .2s; /* Animation */
}

#square {
  width: 100px;
  height: 100px;
  background: blue;
  transition: width 2s;
}

#square:hover {
  width: 300px;
}

#anim {
  width: 100px;
  height: 100px;
  background: green;
  transition: width 2s;
}

#anim:hover 
{
  -webkit-animation: flash 1s ease 3;
  -moz-animation: flash 1s ease 3;
  -ms-animation: flash 1s ease 3;
  -o-animation: flash 1s ease 3;
  animation: flash 1s ease 3;
}

/* animation */
@-webkit-keyframes flash {
  50% { opacity: 0; }
}

@-moz-keyframes flash {
  50% { opacity: 0; }
}

@-ms-keyframes flash {
  50% { opacity: 0; }
}

@-o-keyframes flash {
  50% { opacity: 0; }
}

@keyframes flash {
  50% { opacity: 0; }
}

.animations_demo1 div {
    border-radius: 50%;
    height: 50px;
    position: relative;
    width: 100%;
}
.animations_demo1 div:nth-of-type(odd) {
    background: black;
}
.animations_demo1 div:nth-of-type(even) {
    background: white;
    border: 2px solid black;
}
.animations_demo1 div:nth-of-type(3) {
    height: 10px;
    width: 10px;
    -webkit-animation: slide 3s ease-in-out infinite;
    -moz-animation: slide 3s ease-in-out infinite;
    animation: slide 3s ease-in-out infinite;
}
.animations_demo1 div:nth-of-type(2) {
    height: 20px;
    width: 20px;
    -webkit-animation: slide 3s -2.7s ease-in-out infinite;
    -moz-animation: slide 3s -2.7s ease-in-out infinite;
    animation: slide 3s -2.7s ease-in-out infinite;
}
.animations_demo1 div:nth-of-type(1) {
    height: 40px;
    width: 40px;
    -webkit-animation: slide 3s -2.4s ease-in-out infinite;
    -moz-animation: slide 3s -2.4s ease-in-out infinite;
    animation: slide 3s -2.4s ease-in-out infinite;
}
@keyframes slide {
    0% {
        left: 0%
    }
    50% {
        left: 75%;
    }
    100% {
        left: 0%;
    }
}
@-webkit-keyframes slide {
    0% {
        left: 75%
    }
    50% {
        left: 25%;
    }
    100% {
        left: 75%;
    }
}

.transitions_demo div{
  background: red;
  color: white;
  font-weight: bold;
  position: relative; 
    margin:; 10px;
    top: 0px;
    left: 0px;    
    width: 100px;
    height: 100px;
}

.transitions_demo.start div{
    left: 800px;    
    transition: left 4s;
}

#div1 {transition-timing-function: linear;}
#div2 {transition-timing-function: ease;}
#div3 {transition-timing-function: ease-in;}
#div4 {transition-timing-function: ease-out;}
#div5 {transition-timing-function: ease-in-out;}

.wrap {
  margin: 50px;
}

.container {
  display: inline-block;
  width: 300px;
}

.box {
  border-radius: 5px;
  height: 40px;
  margin: 50px auto;
  width: 80px;
}  

.box1 {
  background: mediumturquoise;
}
.box1:hover {
  background: mediumturquoise;
  transform: scale(2);
}

.box2 {
  background: #2b3f53;
  transition: all 1s;
}
.box2:hover {
    transform: scale(2);
}

.droplet {
  background: mediumaquamarine;
  border-radius: 2% 50%;
  height: 100px;
  margin: 100px;
  transition: all 3s;
  transition-timing: ease-in-out;
  width: 100px;
}

.droplet:hover {
    transform: rotate(1080deg);
}

.square2 {
  background: #2b3f53;
  border-radius: 3px;
  height: 100px;
  width:  100px;
  transition: transform 0.8s;
}
.square2:hover {
  transform: translate(40px, 40px);
}

.square3 {
  background: #2b3f53;
  border-radius: 3px;
  height: 100px;
  width:  100px;
  transition: transform 0.8s;
}
.square3:hover {
  transform: skew(20deg);
}

.square4 {
  background: #2b3f53;
  border-radius: 3px;
  height: 100px;
  width:  100px;
  transform-origin: left top;
  transition: transform 1s;
}
.square4:hover {
  transform: rotate(-180deg);
}

.square5 {
  background: #2b3f53;
  border-radius: 3px;
  height: 100px;
  width:  100px;
  transform-origin: left top;
  transition: transform 1s;
}
.square5:hover {
  transform: rotate(90deg) scale(2) translateY(-50%) translateX(50%);
}

